.main-resp-body{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
}
.main-resp{
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin: 20px;
}
.resp-left{
    /* background-color: red; */
    flex: 1;
    height: 60vh;


}
.main-resp-body h3{
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}
.resp-right{
    border-left: 2px solid black;
    flex: 1;
}
.resp-right div{
    display: flex;
    align-items:flex-start;
    justify-content:center;
    flex-direction: column;
    padding-left: 20px;
    margin-left: 10px;
}
.resp-right span{
    padding: 10px;
}
